.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
venv/
archiv/
marktwertverlauf/
scrape_all_hist_MW/
# RStudio-Dateien
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Windows/Batch-Dateien
*.bat
# Virtuelle Umgebung
venv/
# Python-typisch
*.py
__pycache__/
*.py[cod]
*.pyo
*.log
*.tmp
*.sqlite3
*.db
# VS Code & Jupyter
.vscode/
.ipynb_checkpoints/
# Sonstiges
.DS_Store
*.bak
